// dracula:
$background: #44475a;
$foreground: #f8f8f2;
$board: #f8f8f2;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;
// dracula

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", "Roboto", -apple-system, BlinkMacSystemFont, "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $background;
}

.spin {
  animation: animation-spin infinite 2s linear;
  transform-origin: center;
}

@keyframes animation-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// .spacer {
//   flex: 1 1 auto;
// }
